.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
#log, #state{
    width:500px;
    height: 60px;
    border: 1px solid black;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    background-color: aqua;
    border-radius:20px ;
    margin-right: 10px;
}
.button-container{

    display: flex;
}
button{
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 10px;
}